.container {
    max-width: 900px;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section, .formSection {
    padding: 1.5em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.section h3, .formSection  h2 {
    margin-bottom: 1em;
    color: var(--bears-orange);
    font-size: 1.8em;
}

.section p, .formSection  p {
    margin-bottom: 1em;
    color: #333;
}

@media (min-width: 720px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 1020px) {
    .container {
        max-width: 70%;
        gap: 2em;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }

    .section {
        flex: 1;
        margin-bottom: 0;
    }
}
