.heroContainer {
    position: relative;
    width: 100%;
    height: clamp(35vw, 11vw, 40em);
    /*overflow: hidden;*/
}
.heroImage{
    display: block;
    width: 100%;
    height: clamp(35vw, 11vw, 40em);
    object-fit: cover;
    object-position: center;
    margin: auto;
    aspect-ratio: 16/9;
    position: relative;
}

.heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(35vw, 11vw, 40em);
    object-fit: cover;
    z-index: -1;
    filter: blur(3px);

}
.textContainer{
    height: 100%;
    width: 100%;
    justify-content: center;
    /* align-content: flex-end; */
    /* align-items: center; */
    max-width: 100vw;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    top: 0;
    position: absolute;
}
.heroContent {
    position: relative;
    z-index: 1;
    color: white;
    text-align: left;
    font-weight: 900;
    font-size: clamp(2em , 4vw, 4em);
    padding-left: clamp(0.5em ,2vw, 2em);
    flex: 1 1 100%;
    align-content: center;
}

.heroFooter{
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.34);
    font-size: clamp(0.6em,1vw,1em);
}

.heroButton{
    background-color: var(--bears-orange);
    padding:0.5em 1.5em;
    border-radius: 0.2em;
    font-size: clamp(1em, 3vw, 1.5em);
    color: white;
    /*height: 4em;*/
    /*width: 8em;*/
}

.buttonDiv{
    height: 3em;
    width: 17em;
    align-content: center;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: right;
    padding-right:clamp(0.5em ,2vw, 2em);
}