.serviceCard {
    border: 1px solid #ddd;
    padding:1em;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    background-color: #fff;
    width: 80%;
}

.serviceCard h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.serviceCard p {
    margin: 4px 0;
}

.serviceCard ul {
    padding-left: 1.2em;
    list-style-type: disc;
    margin-top: 0.5em;
}
