.categorySectionParent > h2{
    text-align: center;
    font-size: 3em;

}

.category {
    display: grid;
    gap: 1.5em;
    align-items: start;
    margin: 0 auto;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.servHeaderImage {
    width:clamp(90%, 5vw, 10em);
    max-width: 40em;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 1em;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin-top: 3em;
    margin-bottom: 3em;
}

.bookingSection {
    padding: 2em;
}

.bookingSection h3 {
    font-size: 1.7em;
    color: #333;
    margin-bottom: 1em;
}

.bookingSection p {
    color: #555;

}



@media (min-width: 720px) {
    .category {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1020px) {
    .category {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 2em;
        justify-items: center;
        align-items: center;
    }

    .bookingSection{
        padding: 2em;
        width: 35em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}


